/*PAGINA INICIAL*/
.salvarNovo_VerSalvos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.imgPagina1{
    margin-top: 100px;
    text-align: center;
}

/*PAGINA INICIAL*/

/*PAGINA1*/
body{
    background-color: rgb(167, 228, 249);
}

.imagenJ{
    text-align: center
}


h1{
    text-align: center;
    margin-top: 0px;
    color: rgb(43, 20, 244);
    font-family:  Verdana, Geneva, Tahoma, sans-serif
}

.areaTotal{
    text-align: center;

    
}
.VoltaSalvar{
    display: flex;
    justify-content: space-evenly;
}
/*PAGINA1*/

/*PAGINA SEUS DADOS*/

body{
    width: 100%;
}

.bt_voltarDadosalvos_excluir{
    display: flex;
    margin-top: -10px;
    /* text-align: center; */
    justify-content: space-evenly;
}


/* PAGINA SEUS DADOS */
ul{
    list-style: none;
    padding: 0;
}
li{
    background-color:  rgb(43, 20, 244);
    padding: 10px ;
    /* margin: 10px auto; */
    border-radius: 5px;
    color: rgb(255, 255, 255);
    width: 300px;
    /* font-weight: bold; */

    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    
}
strong{
    color: rgb(255, 242, 0);
}

button{
    cursor: pointer;
    background-color: rgb(255, 242, 0);
    border: 2px rgb(0, 0, 0) solid;
}

input{
    border: 2px black solid;
    height: 30px;
    width: 250px;
}

span{
    cursor: pointer;
}